---
import "../../public/shared.css"

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link href="https://api.fontshare.com/v2/css?f[]=supreme@400&f[]=nunito@800&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>13C Assignment Portfolio</title>
	</head>
	<body>
        <header>
            <a href="/">Style Tile</a>
            <a href="/delA">Part A</a>
            <a href="/delB">Part B</a>
            <a href="/delC">Part C</a>
            <a href="/delD">Part D</a>
        </header>
		<main>
            <slot />
        </main>
	</body>
</html>

<style>
    header{
        display:flex;
        justify-content:space-between;
    }
</style>